In [1]:
#int

In [2]:
a=10

In [3]:
a

10

In [4]:
print(a)

10

In [5]:
#important

In [6]:
a='jatin'

In [7]:
a

'jatin'

In [8]:
#this shows the dynamic nature of the python language

In [9]:
type(a)

str

In [10]:
a=10
b=10

In [11]:
a,b

(10, 10)

In [12]:
a == b

True

In [13]:
#comparing the values vs comparing the refernces

In [14]:
a is b

True

In [15]:
a=4555
b=4555

In [16]:
a is b

False

In [17]:
a

4555

In [18]:
b

4555

In [19]:
a==b

True

In [20]:
a=256
b=256

In [21]:
a is b

True

In [22]:
a==b

True

In [23]:
b=-6

In [24]:
c=-6

In [25]:
b is c

False

In [26]:
b=10

In [27]:
c=10

In [28]:
b is c

True

In [29]:
b=-5
c=-5

In [30]:
b is c

True

In [31]:
a=2323454187544468564546546845454851545485448
type(a)

int

In [32]:
a**10

4585018976293343651966712309662772542049010185790126983469134320681266088355999777395817607919188192427745492818753293281198728642436182352761259118284513364329723149189542225727495368220219708645289495317187854386777866655827754025073628144879761320603867226898255756144416885432189506287328638051065013339868517533869571658133230370751935106939405959427030627909296609915083581122878234802757516384964324158296782247297024

In [33]:
help(round)

Help on built-in function round in module builtins:

round(...)
    round(number[, ndigits]) -> number

    Round a number to a given precision in decimal digits (default 0 digits).
    This returns an int when called with one argument, otherwise the
    same type as the number. ndigits may be negative.

# Data Types

In [34]:
#immutable: cannot change values
#mutable :  can change values

In [35]:
kraken=[22,46,50]

In [36]:
baby=kraken

In [37]:
baby

[22, 46, 50]

In [38]:
baby[0]=100

In [39]:
kraken

[100, 46, 50]

In [40]:
#value changes because baby and kraken are reference variable for same object thus change takes place

In [41]:
kre=[55,46]

In [42]:
kraken=kre

In [43]:
kraken[0]

55

In [44]:
a={35,65,42}

In [45]:
a[1]=55

TypeError: 'set' object does not support item assignment

In [ ]:
#tuple is immutable in nature

In [ ]:
tuple?

# Sets

In [46]:
a={34,34,56}

In [47]:
a

{34, 56}

In [48]:
d={
    "mango":"kings of fruits",
    "apple":"a sweet red fruit"
}

In [49]:
d['apple']

'a sweet red fruit'

In [50]:
#slicing and comprehension

In [51]:
#slicing

In [52]:
a=[34,56,76,54]

In [53]:
a[1:3]

[56, 76]

In [54]:
#first value is inclusive and last value is exclusive

In [55]:
a[1:5:2]

[56, 54]

In [56]:
#a jump of 2 takes place 1st and 3rd value is printed

In [57]:
a[-1::-1]

[54, 76, 56, 34]

In [58]:
s='KRATOS'
for i in s:
    print(i)

K
R
A
T
O
S

In [59]:
#using index in for loop in python

In [60]:
a=[43,56,88]

In [61]:
for index,ch in enumerate(a):  #this is called tupling process
    print(index,a[index])

0 43
1 56
2 88

In [62]:
a=20
b=10
a,b = b,a

In [63]:
a

10

In [64]:
b

20

In [65]:
#while loops
a=5

In [66]:
while a>0:
    print(a)
    a=a-1

5
4
3
2
1

In [67]:
a=list(range(1,10,2))

In [68]:
a

[1, 3, 5, 7, 9]

In [69]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [70]:
a=[i for i in range(1,6)]

In [71]:
a

[1, 2, 3, 4, 5]

In [72]:
t=[2*i for i in range(1,11)]

In [73]:
t

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [74]:
a=[[1,2],
   [3,4]
  ]

In [75]:
a[0][1]

2

In [76]:
len(a) #number of rows

2

In [77]:
len(a[0]) #number of columns in row[0]

2

In [78]:
for i in range(0,len(a)):
    for j in range(0,len(a)):
        print(a[i][j],end=" ")
    print()

1 2
3 4

In [79]:
n=1
b=[[i*n for i in range(1,11)] for n in range(1,11)]

In [80]:
b

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [81]:
a=list(range(1,11))

In [82]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
for i in a:
    #if i==6:
        #break
    print(i,end=" ")  
else:
    print("\nfor/else statement hit ho gayi")

1 2 3 4 5 6 7 8 9 10
for/else statement hit ho gayi

In [88]:
def fun():
    print("Hello World")

In [89]:
fun()

Hello World

In [90]:
#if their are no return types, fun returns none

In [91]:
def ff():
    return 3

In [95]:
a=ff()
print (a)

3

In [96]:
def add(a,b):
    sum=a+b
    return sum

In [97]:
ans=add(99,44)
ans

143

In [98]:
#everything is an object in python
#functions are also an object

In [101]:
def fun(a,b):
    return a*b
k=fun(4,5)
print(k)

20

In [102]:
#if function is smalll lambda/inline function can be used

In [103]:
fun=lambda a:print(a)

In [104]:
fun("Hello World")

Hello World

In [105]:
def add(a,b):
    return a+b

In [106]:
add=lambda a,b:a+b
add(3,4)

7

In [108]:
#map function: applies a given function to each element of iterable

In [109]:
print?

In [110]:
map?

In [111]:
#multiply each number in list by 2

In [112]:
def multiply(x):
    return 2*x

In [114]:
a=[3,4]
list(map(multiply,a))

[6, 8]

In [116]:
b=[1,2,3,4,5,6]
list(map(lambda x: 2*x,b))

[2, 4, 6, 8, 10, 12]

In [117]:
#make every element power of that element

In [120]:
list(map(lambda x:x**2,b))

[1, 4, 9, 16, 25, 36]

In [125]:
filter?

In [131]:
#function return true or false only,filter function filters the output by accessing our functions

In [132]:
list(filter(lambda x:x%2==0,b))

[2, 4, 6]

In [133]:
#comments

In [134]:
#when we compile or interpret our program
'''what are u doing man'''

'what are u doing man'

In [135]:
"""
what is bad man"""

'\nwhat is bad man'

In [136]:
#above are the multiline strings

In [137]:
def fun():
    """
    this is the comment(really?)
    """

In [138]:
#python has one way to give comments i.e. """ """, ''''''

In [139]:
#classes is also an object!

In [140]:
a=10

In [142]:
isinstance(a,object)

True