QUESTION:1

In [109]:

r = int(input('Enter 20::'))
for num in range(3,r + 1):  
    for i in range(2,num):  
        if num%i == 0:  
            break  
    else:  
        print(num)

Enter 20::20
3
5
7
11
13
17
19

QUESTION:2

In [37]:
c='koala'

In [38]:
c.zfill(7)

'00koala'

In [39]:
c.capitalize()

'Koala'

In [40]:
c.find('a',0,len(c))

2

In [41]:
c.endswith('a')

True

In [42]:
c.center(12,"*")

'***koala****'

In [43]:
c.islower()

True

In [44]:
c.isupper()

False

In [45]:
c.isdigit()

False

In [46]:
c.isalpha()

True

In [47]:
c.replace('a','x',1)

'koxla'

In [48]:
c.index('a',0,len(c))

2

In [49]:
k='{} is the national animal of {}'
k.format(c,'Australia')

'koala is the national animal of Australia'

In [67]:
a=c.split()
a

['koala']

In [52]:
d='   Kangaroo'
d.lstrip()

'Kangaroo'

In [53]:
d='Kangaroo     '
d.rstrip()

'Kangaroo'

In [54]:
d.partition(',')

('Kangaroo     ', '', '')

In [55]:
d.istitle()

True

In [57]:
e=c.capitalize()
e

'Koala'

In [63]:
c.isidentifier()

True

QUESTION: 3

In [111]:


def pallindrome(s):
    new_s=""
    for i in s:
        new_s =i+new_s
        rev =new_s
    if s==rev:
        return 'Pallindrome'
    else:
        return 'Not Pallindrome'
def anagram(s,t):
    s1 = len(s)
    s2 = len(t) 
    if s1!=s2:
        return False
    else:
        t1 =sorted(s)
        t2 =sorted(t)
        for i in range(0,s1):
            if t1[i]==t2[i]:
                return True
            else:
                return False

s=input("Enter ur String1::")
t=input("Enter ur String2::")
print(pallindrome(s))
if anagram(s,t):  
    print ("The two strings are anagram of each other") 
else:  
    print ("The two strings are not anagram of each other")

Enter ur String1::nitin
Enter ur String2::tinni
Pallindrome
The two strings are anagram of each other

QUESTION: 4

In [85]:
def removechar(new_s):
    char = ['.',' ','@','-']
    for i in char:
        new_s = new_s.replace(i,"")
    return new_s.lower()
s= "Dr. Darshan Ingle@AI-ML Trainer"
print(removechar(s))

drdarshaningleaimltrainer