In [143]:
import pandas as pd

In [144]:
dataset = pd.read_csv("/home/jatin/ML & AI/AI-ML-July-2020-master (1)/AI-ML-July-2020-master/Day-24/Dataset/train.csv")

In [145]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [146]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.5+ KB

In [147]:
dataset.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [148]:
dataset['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
884    S
885    S
886    S
887    C
888    Q
Name: Embarked, Length: 889, dtype: object

# Naive Bayes Theorem

In [149]:
from sklearn import preprocessing

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
from sklearn.naive_bayes import GaussianNB

In [152]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [153]:
le  = preprocessing.LabelEncoder()

In [154]:
le.fit(dataset['Sex'])

LabelEncoder()

In [155]:
le.classes_

array(['female', 'male'], dtype=object)

In [156]:
dataset['Sex'] = le.fit_transform(dataset['Sex'])

In [157]:
dataset['Embarked'] = le.fit_transform(dataset['Embarked'])

In [158]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

# Naive_Bayes Theorem DV-Survival

In [159]:
y = dataset["Survived"]

In [160]:
X= dataset.drop(['Name','Survived',"PassengerId","Cabin","Ticket"],axis=1)

In [161]:
y.count()

889

In [162]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [163]:
X_train.head()

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
350       1    1  45.0      0      0  35.0000         2
124       3    1  12.0      1      0  11.2417         0
577       3    0  45.0      1      0  14.4583         0
422       3    0  28.0      1      1  14.4000         2
118       3    0   2.0      4      2  31.2750         2

In [164]:
#test_size represents the test dataset i.e. 
0.3*889

266.7

In [165]:
889*0.7

622.3

In [166]:
from sklearn.naive_bayes import*

In [167]:
clf = BernoulliNB()

In [168]:
y_pred =clf.fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,y_pred,normalize=True)

0.7715355805243446

In [169]:
confusion_matrix(y_test,y_pred)

array([[131,  26],
       [ 35,  75]])

In [170]:
# diagonal add of array
131+75

206

In [171]:
35+26

61

In [172]:
206/267

0.7715355805243446

# Naive_Bayes Theorem DV - Pclass

In [114]:
X_train.head()

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
350       1    1  45.0      0      0  35.0000         2
124       3    1  12.0      1      0  11.2417         0
577       3    0  45.0      1      0  14.4583         0
422       3    0  28.0      1      1  14.4000         2
118       3    0   2.0      4      2  31.2750         2

In [115]:
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

In [116]:
x = dataset.drop(['Pclass','Name','Ticket','Cabin'],axis=1)

In [117]:
x.head()

   PassengerId  Survived  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0    1  22.0      1      0   7.2500         2
1            2         1    0  38.0      1      0  71.2833         0
2            3         1    0  26.0      0      0   7.9250         2
3            4         1    0  35.0      1      0  53.1000         2
4            5         0    1  35.0      0      0   8.0500         2

In [118]:
y = dataset['Pclass']

In [119]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=0)

In [120]:
ypred = clf.fit(xtrain,y_train).predict(xtest)
accuracy_score(ytest,ypred,normalize=True)

0.17228464419475656

In [121]:
confusion_matrix(ytest,ypred)

array([[  0,   0,   0,   0],
       [ 24,  46,   0,   0],
       [ 24,  25,   0,   0],
       [109,  39,   0,   0]])

# Naive_Bayes DV - Sex

In [134]:
x = dataset.drop(['Sex','Name','Ticket','Cabin'],axis=1)

In [135]:
y = dataset['Sex']

In [136]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(x,y,test_size = 0.3,random_state=0)

In [137]:
Ypred = clf.fit(Xtrain,Ytrain).predict(Xtest)
accuracy_score(Ytest,Ypred,normalize=True)

0.7453183520599251

In [138]:
confusion_matrix(Ytest,Ypred)

array([[ 49,  49],
       [ 19, 150]])

In [139]:
49+150

199

In [140]:
49+19

68

In [141]:
199+68

267

In [142]:
199/267

0.7453183520599251

# Naive_Bayes DV - SibSp

In [130]:
x = dataset.drop(['SibSp','Name','Ticket','Cabin'],axis=1)
y = dataset['SibSp']

In [131]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size = 0.3,random_state=0)

In [132]:
Y_pred = clf.fit(X_train,Y_train).predict(X_test)
accuracy_score(Y_test,Y_pred,normalize=True)

0.6891385767790262

In [133]:
confusion_matrix(Y_test,Y_pred)

array([[162,  20,   0,   0,   0,   0,   0],
       [ 43,  22,   0,   0,   0,   0,   0],
       [  6,   2,   0,   0,   0,   0,   0],
       [  5,   2,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0,   0,   0],
       [  2,   0,   0,   0,   0,   0,   0]])

# Naive_Bayes DV - Parch

In [126]:
x = dataset.drop(['Parch','Name','Ticket','Cabin'],axis=1)
y = dataset['Parch']

In [127]:
xtrain,X_test,ytrain,Y_test = train_test_split(x,y,test_size = 0.3,random_state=0)

In [128]:
pred = clf.fit(xtrain,ytrain).predict(X_test)
accuracy_score(Y_test,pred,normalize=True)

0.7153558052434457

In [129]:
confusion_matrix(Y_test,pred)

array([[182,  16,   0,   0,   0],
       [ 31,   9,   0,   0,   0],
       [ 24,   3,   0,   0,   0],
       [  1,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0]])

# Naive_Bayes DV - Embarked

In [122]:
x = dataset.drop(['Embarked','Name','Ticket','Cabin'],axis=1)
y = dataset['Embarked']

In [123]:
ptrain,ptest,qtrain,qtest = train_test_split(x,y,test_size = 0.3,random_state=0)

In [124]:
pred = clf.fit(ptrain,qtrain).predict(ptest)
accuracy_score(qtest,pred,normalize=True)

0.7340823970037453

In [125]:
confusion_matrix(qtest,pred)

array([[  0,   0,  49],
       [  0,   0,  22],
       [  0,   0, 196]])