QUESTION: 1

In [16]:
d={'john@google.com':'Google','nate@yahoo.com':'Yahoo'}
for i in d.keys():
    j = input('Enter EMAIL address::')
    print(d[j])

Enter EMAIL address::nate@yahoo.com
Yahoo
Enter EMAIL address::john@google.com
Google

QUESTION: 2

In [9]:
l = []
n = int(input('Enter the number of items::'))
for i in range(n):
    j  =input(f"Enter the item {i+1}::")
    l.append(j)
    new_l = sorted(l)
print(new_l)
for k in new_l:
    print(k,end=',')

Enter the number of items::4
Enter the item 1::without
Enter the item 2::hello
Enter the item 3::bag
Enter the item 4::jatin
['bag', 'hello', 'jatin', 'without']
bag,hello,jatin,without,

QUESTION: 3

In [17]:
f = {"apple", "banana", "cherry"}

In [18]:
f.add("orange")
f

{'apple', 'banana', 'cherry', 'orange'}

In [19]:
f.update({"orange", "mango", "grapes"})
f

{'apple', 'banana', 'cherry', 'grapes', 'mango', 'orange'}

In [20]:
len(f)

6

In [21]:
f.discard("banana")
f

{'apple', 'cherry', 'grapes', 'mango', 'orange'}

In [22]:
f.pop()

'apple'

In [23]:
g={"guns","roses"}
h=f.union(g)
h

{'cherry', 'grapes', 'guns', 'mango', 'orange', 'roses'}

In [24]:
h.clear()

In [25]:
h #elements in the sets are cleares but sets exist

set()

In [26]:
u=f.union(g)
u

{'cherry', 'grapes', 'guns', 'mango', 'orange', 'roses'}

In [28]:
del u
u #complete set is deleted here

NameError: name 'u' is not defined

In [29]:
u=f.union(g)
g.issubset(u)

True

In [30]:
g.isdisjoint(u)

False

In [31]:
k=u.difference(g)
k

{'cherry', 'grapes', 'mango', 'orange'}

QUESTION: 4

In [35]:
r = int(input('Enter the range of numbers::'))
l = []
for i in range(r):
    i = int(input(f"Enter value {i+1}::"))
    l.append(i)
print(l)
n = len(l)
total = (n+1)*(n+2)/2
sum_l = sum(l)
print('The missing number is::',total-sum_l)

Enter the range of numbers::7
Enter value 1::1
Enter value 2::2
Enter value 3::4
Enter value 4::6
Enter value 5::3
Enter value 6::7
Enter value 7::8
[1, 2, 4, 6, 3, 7, 8]
The missing number is:: 5.0

QUESTION: 5

In [37]:
l = []
r = int(input('Enter the range of numbers::'))
for i in range(r):
    i = int(input(f"Enter value {i+1}::"))
    l.append(i)
print('-----ORIGINAL LIST-----')    
print(l)
new_l=[]
for j in l:
    if j not in new_l:
        new_l.append(j)
print('-----UPDATED LIST-----')
for k in new_l:
    print(k,end=' ')

Enter the range of numbers::8
Enter value 1::2
Enter value 2::4
Enter value 3::20
Enter value 4::5
Enter value 5::10
Enter value 6::4
Enter value 7::2
Enter value 8::20
-----ORIGINAL LIST-----
[2, 4, 20, 5, 10, 4, 2, 20]
-----UPDATED LIST-----
2 4 20 5 10