In [77]:
%matplotlib inline
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

# KNN Algorithm

In [78]:
data = pd.read_csv("/home/jatin/Downloads/titanic/train.csv")

In [79]:
data.head(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [80]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [81]:
le  = preprocessing.LabelEncoder()

# Cleaning the data fuction()

In [82]:
def clean_data(data):
    data['Sex'] = le.fit_transform(data['Sex'])
    data['Age'] = data['Age'].fillna(data['Age'].mean())
    data['Embarked'] = data['Embarked'].fillna(method='pad')
    data['Embarked'] = le.fit_transform(data['Embarked'])
    data = data.drop(['PassengerId','Name','Ticket','Cabin','Fare'],axis=1)
    print(data.head())
    return data
data = clean_data(data)

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Embarked  891 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [84]:
data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
dtype: int64

In [85]:
from sklearn import neighbors

In [86]:
y  = data['Survived']

In [87]:
data.shape

(891, 7)

In [88]:
x = data.drop(['Survived'],axis=1)

In [89]:
x

     Pclass  Sex        Age  SibSp  Parch  Embarked
0         3    1  22.000000      1      0         2
1         1    0  38.000000      1      0         0
2         3    0  26.000000      0      0         2
3         1    0  35.000000      1      0         2
4         3    1  35.000000      0      0         2
..      ...  ...        ...    ...    ...       ...
886       2    1  27.000000      0      0         2
887       1    0  19.000000      0      0         2
888       3    0  29.699118      1      2         2
889       1    1  26.000000      0      0         0
890       3    1  32.000000      0      0         1

[891 rows x 6 columns]

In [90]:
y.shape

(891,)

# D.V.- Survival

In [91]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [92]:
x_train.head()

     Pclass  Sex        Age  SibSp  Parch  Embarked
140       3    0  29.699118      0      2         0
439       2    1  31.000000      0      0         2
817       2    1  31.000000      1      1         0
378       3    1  20.000000      0      0         0
491       3    1  21.000000      0      0         2

In [93]:
y_train.head()

140    0
439    0
817    0
378    0
491    0
Name: Survived, dtype: int64

In [94]:
x_test.head()

     Pclass  Sex        Age  SibSp  Parch  Embarked
495       3    1  29.699118      0      0         0
648       3    1  29.699118      0      0         2
278       3    1   7.000000      4      1         1
31        1    0  29.699118      1      0         0
255       3    0  29.000000      0      2         0

In [95]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)

In [96]:
knn.fit(x_train,y_train).score(x_test,y_test)

0.770949720670391

In [97]:
y_pred = knn.predict(x_test)

In [98]:
accuracy_score(y_test,y_pred)

0.770949720670391

In [99]:
confusion_matrix(y_test,y_pred)

array([[97, 13],
       [28, 41]])

# 3 D.V.- Pclass

In [100]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [101]:
x = data.drop(['Pclass'],axis=1)

In [102]:
y = data['Pclass']

In [103]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [104]:
x_train.head(5)

     Survived  Sex        Age  SibSp  Parch  Embarked
140         0    0  29.699118      0      2         0
439         0    1  31.000000      0      0         2
817         0    1  31.000000      1      1         0
378         0    1  20.000000      0      0         0
491         0    1  21.000000      0      0         2

In [105]:
x_test.head(5)

     Survived  Sex        Age  SibSp  Parch  Embarked
495         0    1  29.699118      0      0         0
648         0    1  29.699118      0      0         2
278         0    1   7.000000      4      1         1
31          1    0  29.699118      1      0         0
255         1    0  29.000000      0      2         0

In [106]:
y.shape

(891,)

In [107]:
knn = neighbors.KNeighborsClassifier(n_neighbors=3)

In [108]:
knn.fit(x_train,y_train).score(x_test,y_test)

0.6033519553072626

In [109]:
y_pred = knn.predict(x_test)

In [110]:
accuracy_score(y_test,y_pred)

0.6033519553072626

In [111]:
confusion_matrix(y_test,y_pred)

array([[25,  2, 19],
       [10, 11, 17],
       [17,  6, 72]])

# 4 D.V.-Gender

In [112]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [113]:
x = data.drop(['Sex'],axis=1)

In [114]:
y = data.Sex

In [115]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [116]:
knn.fit(xtrain,ytrain).score(xtest,ytest)

0.7262569832402235

In [117]:
ypred = knn.predict(xtest)

In [118]:
accuracy_score(ytest,ypred)

0.7262569832402235

In [119]:
confusion_matrix(ytest,ypred)

array([[38, 29],
       [20, 92]])

# 5 D.V. - Embarked

In [120]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [121]:
x = data.drop(['Embarked'],axis=1)

In [122]:
y = data['Embarked']

In [123]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=0)

In [124]:
knn.fit(xtrain,ytrain).score(xtest,ytest)

0.7150837988826816

In [125]:
ypred = knn.predict(xtest)
accuracy_score(ytest,ypred)

0.7150837988826816

In [126]:
confusion_matrix(ytest,ypred)

array([[  9,   1,  29],
       [  0,   5,   8],
       [  8,   5, 114]])

# 6 D.V.- Parch

In [127]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [129]:
x = data.drop(['Parch'],axis=1)
y = data['Parch']

In [130]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=0)
knn.fit(xtrain,ytrain).score(xtest,ytest)

0.7988826815642458

In [131]:
ypred = knn.predict(xtest)
accuracy_score(ytest,ypred)

0.7988826815642458

In [132]:
confusion_matrix(ytest,ypred)

array([[131,   5,   2,   0,   0],
       [ 14,   8,   4,   0,   0],
       [  7,   2,   4,   0,   0],
       [  1,   0,   0,   0,   0],
       [  0,   0,   1,   0,   0]])

# SVM

In [162]:
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch  Embarked
0         0       3    1  22.0      1      0         2
1         1       1    0  38.0      1      0         0
2         1       3    0  26.0      0      0         2
3         1       1    0  35.0      1      0         2
4         0       3    1  35.0      0      0         2

In [163]:
x = data.drop(['Survived'],axis=1)
y = data.Survived

In [164]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =0)

In [165]:
from sklearn import svm

In [166]:
clf = svm.SVC(gamma=0.01,C=100)

In [167]:
clf.fit(x_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [168]:
ypred = clf.predict(x_test)

In [169]:
accuracy_score(y_test,ypred)

0.8156424581005587

In [170]:
confusion_matrix(y_test,ypred)

array([[98, 12],
       [21, 48]])

# D.V. - Pclass

In [171]:
x = data.drop(['Pclass'],axis=1)
y = data.Pclass

In [172]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =0)

In [173]:
clf = svm.SVC(gamma=0.01,C=100)

In [175]:
clf.fit(x_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [176]:
ypred = clf.predict(x_test)
accuracy_score(y_test,ypred)

0.6312849162011173

In [177]:
confusion_matrix(y_test,ypred)

array([[21,  3, 22],
       [ 5,  5, 28],
       [ 4,  4, 87]])

# D.V.-Gender

In [178]:
x = data.drop(['Sex'],axis=1)
y = data.Sex

In [179]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =0)

In [181]:
clf = svm.SVC(gamma=0.01,C=100)

In [182]:
clf.fit(x_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [183]:
ypred = clf.predict(x_test)
accuracy_score(y_test,ypred)

0.7821229050279329

In [184]:
confusion_matrix(y_test,ypred)

array([[50, 17],
       [22, 90]])

# D.V.-Embarked

In [185]:
x = data.drop(['Embarked'],axis=1)
y = data.Embarked

In [186]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =0)

In [187]:
clf = svm.SVC(gamma=0.01,C=100)

In [188]:
clf.fit(x_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [189]:
ypred = clf.predict(x_test)
accuracy_score(y_test,ypred)

0.7039106145251397

In [190]:
confusion_matrix(y_test,ypred)

array([[  2,   1,  36],
       [  0,   2,  11],
       [  2,   3, 122]])

# D.V. -Parch

In [191]:
x = data.drop(['Parch'],axis=1)
y = data.Parch

In [192]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state =0)

In [193]:
clf = svm.SVC(gamma=0.01,C=100)

In [194]:
clf.fit(x_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [197]:
ypred = clf.predict(x_test)
accuracy_score(y_test,ypred,normalize=True)

0.8268156424581006

In [198]:
confusion_matrix(y_test,ypred)

array([[136,   2,   0,   0,   0],
       [ 18,   7,   1,   0,   0],
       [  7,   1,   5,   0,   0],
       [  1,   0,   0,   0,   0],
       [  1,   0,   0,   0,   0]])